## Dependencies

```
# 60.19.1/10
1273da041af906c8b222591979dd93c870c76cb9  ../../data/suibian/suibian_phones_loglik.csv
c8fb196927a5c8090559f66eea9d9c7726a5c80d  ../../data/suibian/suibian_feats.csv
```

In [1]:
phones_df_path = "../../data/suibian/suibian_phones_loglik.csv"
feats_df_path = "../../data/suibian/suibian_feats.csv"
!sha1sum $phones_df_path $feats_df_path

1273da041af906c8b222591979dd93c870c76cb9  ../../data/suibian/suibian_phones_loglik.csv
c8fb196927a5c8090559f66eea9d9c7726a5c80d  ../../data/suibian/suibian_feats.csv

## Load Data

In [2]:
import pandas as pd
WORD = "隨便"
phones_df = pd.read_csv(phones_df_path)
feats_df = pd.read_csv(feats_df_path)

In [3]:
phones_df.shape

(1424, 49)

In [4]:
phones_df.head()

,utt_id,t,phone,ml_phone,sil,spn,a,aj,aw,o,...,ts,tsʰ,ɕ,z,z̩,s,ŋ,ŋ̍,ɻ,ʔ
0,ZXQ_GY_3357,0,s,s,-7.760230,-5.340469,-13.153953,-11.517451,-12.777015,-7.815475,...,-2.632007,-2.135581,-2.840243,-10.105884,-8.159972,-0.920592,-14.133311,-14.133311,-14.201430,-14.459453
1,ZXQ_GY_3357,1,s,ʂ,-8.084499,-4.200573,-14.151817,-13.254002,-14.363815,-12.498680,...,-4.242767,-3.799923,-2.998569,-15.620865,-13.674953,-1.233650,-16.600349,-16.600349,-18.242882,-17.365234
2,ZXQ_GY_3357,2,s,s,-9.565180,-5.604002,-16.109534,-15.350348,-16.072615,-14.419035,...,-5.373827,-4.113650,-3.797114,-17.291193,-15.345286,-0.483443,-18.357508,-18.357508,-18.983919,-17.063307
3,ZXQ_GY_3357,3,s,s,-11.225339,-5.542615,-19.381956,-18.148511,-18.735116,-16.947393,...,-6.444936,-4.965444,-3.570695,-19.574193,-17.628282,-0.388345,-21.288297,-21.288297,-21.166013,-19.876005
4,ZXQ_GY_3357,4,s,s,-13.865740,-12.093344,-27.630392,-26.267866,-26.784742,-21.428354,...,-8.822866,-8.897547,-4.101191,-23.046228,-21.100321,-0.020071,-29.411276,-29.411276,-28.679525,-26.354857

In [5]:
onset_phone = phones_df.groupby("utt_id").first().iloc[:, :2]
onset_phone.phone.value_counts()

phone
s    39
ʂ     2
Name: count, dtype: int64

In [6]:
onset_phone.query("phone!='s'")

             t phone
utt_id
WJH_GY_1574  0     ʂ
WZW_GY_1205  0     ʂ